body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    border: 1px solid black; /* Border around the entire container */
    border-radius: 5px;
}
.left-container,
.right-container {
    flex: 1;
}
.left-container {
    margin-right: 20px;
    border-right: 1px solid black; /* Vertical border between left and right containers */
    padding-right: 10px;
}
.right-container {
    margin-left: 20px;
    padding-left: 10px;
}
h2 {
    text-align: center;
}
.user-box {
    border: 1px solid #ccc; /* Border around each user data box */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
